{{define "header"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{{end}}

{{define "header2"}}</head>
<body>
<div id="top">
    <header>
        <a href="/"><i class="fa fa-heart-o fa-3x"></i></a>
        <nav>
            <a href="/login"><p id="login">Log In</p></a>
        </nav>
    </header>
    <p id="motto">Some Place to Connect to</p>
</div>{{end}}


{{ define "footer" }}</body></html>
{{ end }}
