{{ template "header" }}
   
<div class="container">
  <div class="some-post">
    <h1 class="post-title">Profile</h1>
  </div>
    <div class="col-sm-8 blog-main">
        {{ template "user-profile" }}
    </div>
  </div>
</div>

{{ template "footer" }}

<script>
  document.getElementById("profile").setAttribute("class", "active blog-nav-item");
</script>


{{ template "header" }}
   
<div class="container">
  <div class="some-post">
    <h1 class="post-title">Write</h1>
  </div>
  
{{ template "footer" }}

<script>
  document.getElementById("write").setAttribute("class", "active blog-nav-item");
</script>
